ActionBar {
  background-color: #f44336;
  color: white;
}

.list-layout {
  width: 100%;
}

.post {
  padding: 7 15;
}

.title {
  font-size: 18;
  margin-bottom: 7;
}

.info {
  font-size: 12;
  color: #666666;
}

.url {
  font-size: 14;
  margin-bottom: 7;
  color: #f44336;
}

.domain {
  font-size: 14;
  margin-bottom: 3;
  color: #666666;
}

.author, .created, .subreddit, .score {
  padding-right: 7;
  margin-bottom: 7;
}

.score {
  color: #e57373;
}

.image {
  margin-bottom: 7;
}
